.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/carBackground.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #15ABFF80;
  z-index: 1;
}

.content {
  position: relative;
  width: 100%;
  padding: 20px;
  z-index: 2;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro */
}

.logo, .login-form {
  padding: 20px; /* Añade un poco de espacio alrededor */
}

.logo {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.login-form {
width: 100%;
max-width: 400px; /* Limita el ancho del formulario para no ocupar toda la pantalla */
}

@media (min-width: 768px) {
.content {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 40%;
}
.login-form {
  width: 40%;
}
}

@media (max-width: 767px) {
.logo {
  display: none; /* Oculta el logo en pantallas pequeñas */
}
}

@media (min-width: 768px) {
  .content {
    justify-content: space-around; /* Distribuye el espacio uniformemente */
  }
  .logo, .login-form {
    margin: 0 30px; /* Aumenta el margen lateral para mover hacia el centro */
  }
}

@media (max-width: 767px) {
  .logo {
    display: none; /* Oculta el logo en pantallas pequeñas */
  }
  .login-form {
    width: 90%; /* Utiliza más espacio de pantalla para el formulario */
  }
}

.table {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  vertical-align: middle;
}

.btn-danger {
  background-color: #dc3545;
}


.custom-bg-secondary {
  background-color: #b9d9f5; /* Puedes cambiar este color al que prefieras */
}

